<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slightly Easier Unit Converter</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="Sobey" content="Calculations">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <style>
    .alert {
      background: green;
      padding: 1rem;
      border-radius: 5px;
      color: white;
      margin: 1rem;
    }
  </style>
</head>

<body>
  <div class="Container">
    <h3>Why Are We Still Doing This? Conversion App</h3>
  </div>
  <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">
        <h5>Length</h5>
        <!-- INCH-INCH-INCH -->
        <label for="inch">inch</label>
        <input type="text" placeholder="0.00" class="u-half-width" name="inch"/>
        <input type="submit" value="To [mm]" id="calc_btn_in" />
        <span class="alert"> {{ to_mm }} </span>
        <!-- INCH-INCH-INCH -->
        <label for="mm">mm</label>
        <input type="text" placeholder="0.00" class="u-half-width" name="mm"/>
        <input type="submit" value="To [inch]" id="calc_btn_mm" />
        <span class="alert"> {{ to_inch }} </span>

<!--      </form>-->
<!--      <form action="/send" method="POST">-->

        <h5>Force</h5>
        <!-- Pound-Pound-Pound -->
        <label for="lbf">lbf</label>
        <input type="text" placeholder="0.00" class="u-half-width" name="lbf"/>
        <input type="submit" value="To [kgf]" id="calc_btn_pound" />
        <span class="alert"> {{ to_kgf }} </span>
        <span class="alert"> {{ lbf_to_N }} </span>
        <!-- KG-KG-KG -->
        <label for="kgf">kgf</label>
        <input type="text" placeholder="0.00" class="u-half-width" name="kgf"/>
        <input type="submit" value="To [lbf]" id="calc_btn_kg" />
        <span class="alert"> {{ to_lbf }} </span>
        <span class="alert"> {{ kgf_to_N }} </span>

<!--        SIG FIGS-->
        <label for="Significant_Figures">Significant Figures</label>
        <input type="text" placeholder="5" class="u-half-width" name="Significant_Figures" size="1"/>

      </form>
</body>
</html>